__pycache__/
*.py[cod]

.venv/
.env

*.sqlite3
*.db
*.db-journal
*.sqlite3-journal

# oefen data voor de db test toelaten in de git commit en push
!db/skylux.db

# gegenereerde rapporten door de gebruiker negeren 
reports/*.csv


.vscode/
.idea/
.DS_Store
